
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_CLayout.cshtml";
}


<div class="row">
    <h3>Where to get more help</h3><br />
    <p>
        Please return the form, a certified copy of the death certificate and bank statements of beneficiaries, cessionaries and the
        estate to us in one of the following ways:
    </p><br />
    <a class="col-md-offset-3" href="#">WRITE US</a>
    <a class="col-md-offset-1" href="#">EMAIL US</a>
    <a class="col-md-offset-1" href="#">FAX US</a>
    <a class="col-md-offset-1" href="#">VISIT US</a>
</div>
<hr />

<div class="row">
    <h3>Next steps after we receive the information</h3><br />
    <p>Once we receive the information we will:<ul>
    <li>Send a sms or email confirmation, if you have provided us with those contact details.</li>
    <li>Consider the claim taking into account all the information that you have provided.</li>
    <li>Let you know if we need any other information.</li>
    <li>Communicate our decision to the persons involved.</li>
</ul></p>
</div>

<div>
    <h3>What to send to us</h3>
    <p><b>Cause of death: Natural</b>(for example: an illness)
    <ul><li>
    This completed death claim form.
</li><li>
    A certified copy of the official death certificate issued by the Department of Home Affairs.
</li><li>
    A certified copy of the deceased’s identity document.
</li><li>
    A copy of the Letter of Executorship issued by the Master of the High Court (if no beneficiary appointed).
</li><li>
    Valid proof of the bank account in the name of the estate (if no beneficiary appointed).
</li><li>
    Notice of death (BI 1663) completed by the doctor who certified the death (for funeral benefit and funeral and other
    immediate expenses benefit).
</li><li>
    In certain cases, contract validation will be conducted which amongst other, may require a medical certificate to be
    submitted.
</li> </ul></p>
    <form>

        <button> Download death claim form</button>
    </form>

</div>