@model fast_claims_v1._2.Models.shared.ChangePasswordModel
@{
    ViewBag.Title = "UpdatePassword";
    Layout = "~/Views/Admin/_AdminLayout.cshtml";
}

<h2>Password Updated</h2>

<h5>This is your new password: @Html.DisplayFor(e=> e.newpassword)</h5>

